
/* Whole Web Page */

body {
    background-color: #232527;
}


/* Navigation Bar */

.topnav {
    background-color: #191b1d;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles the text in the navigation bar */

.topnav a {
   
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles the search box inside the navigation bar */

.topnav input {
    width: 25%;
    border-radius: 8px;
    border-color: #3f4143;
    height: 28px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #bdbebe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px;
}


#nav-right {
    float: right;
    border: 1px solid #00b06f;
    border-radius: 8px;
    background-color: #00b06f;
}

/* Login Box (Top Portion) */

.login {
    text-align: center;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #393b3d;
    width: 368px;
    height: 445px;
}

h1.login {
    font-size: 32px;
}

.login a {
    color: #ffffff;
}

.login-user-pass {
    margin: 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #bdbebe;
    border-radius: 8px;
    border-color: #232527;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 5px;
    width: 330px;
    height: 25px;
}

.login-button {
    border: 1px solid #b8b8b8;
    border-color: #bdbebe;
    background-color: transparent;
    color: #bdbebe;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px;
    width: 368px;
    margin-top: 6px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.login-button:hover {
    color: #ffffff;
    border-color: #ffffff;
    cursor: pointer;
}

/* Links at the bottom of the page */

.bottom-links {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 35px;
    text-align: center;

}

.bottom-links a {
    padding: 15px;
    color: #bdbebe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Footer */

footer {
    text-align: center;
}

.footer-hr {
    margin: 30px;
    color: #b8b8b8;
}

footer {
    color: #b8b8b8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
}

